<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>170647214018-u7vpagipki331j7kiqvdrk667a18hkdp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.170647214018-u7vpagipki331j7kiqvdrk667a18hkdp</string>
	<key>API_KEY</key>
	<string>AIzaSyCbIlQlQt9y-aP73RhFbOH6ZClXRngzDas</string>
	<key>GCM_SENDER_ID</key>
	<string>170647214018</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.collyde.app</string>
	<key>PROJECT_ID</key>
	<string>collyde-revamped</string>
	<key>STORAGE_BUCKET</key>
	<string>collyde-revamped.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:170647214018:ios:682d1cd34b0a991d00a85b</string>
	<key>DATABASE_URL</key>
	<string>https://collyde-revamped.firebaseio.com</string>
</dict>
</plist>